<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://apple.com">
<plist version="1.0">
<dict>
    <key>destination</key>
    <string>export</string>
    <key>method</key>
    <string>app-store</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>teamID</key>
    <string>JACG2JJ596</string>
    <key>provisioningProfiles</key>
    <dict>
        <!-- 下記の2行をご自身のBundle IDと、ステップ1の5番で決めたプロファイル名に合わせます -->
        <key>com.soni08.taiatarigame</key>
        <string>com.soni08.taiatarigame</string>
    </dict>
    <key>compileBitcode</key>
    <false/>
    <key>uploadSymbols</key>
    <true/>
</dict>
</plist>
